* {
    margin: 0px;
    padding: 0px;


}

.n1 {
    background: white;
    margin: 50px auto;
    width: 450px;
    padding: 0px;
    border-top: 5px solid white;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}

form {

    margin-left: 24px;
    margin-right: 0px;

}

input    {
    height: 20px;
    width: 400px;
}

.B1 {
    margin-right: 223px;
    height: 30px;
    width: 90px;

}

.B2 {
    height: 30px;
    width: 90px;
}